

 <%-include('../templates/header.ejs') %> 
<div class=" text-white mx-5 grid sm:grid-cols-1  md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4  w-full pt-5 ">
  
  <div class="bg-blue-400 p-8  rounded-md shadow-md w-80">
    <div class="bg-blue-500">
      <img src="" alt="product image">
    </div>
    <h2> name</h2>
    <p> Description</p>
    <p>category</p>
      <p>description</p>
      <p>quantity</p>
      <p>price</p>
    </div>
    

</div>

 <%-include('../templates/footer.ejs') %> 

