<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%=title %> My store</title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
            orange: '#000'
          }
        }
      }
    }
  </script>
  
  <body>
    <!-- Header -->
   
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %> My store</title>
</head>
<body>
  <header class="bg-blue-500 py-4">
    <div class="container mx-auto px-4">
      <nav class="flex justify-between items-center">
        <!-- Logo -->
        <a href="#" class="text-white text-2xl font-bold">My store</a>

        <!-- Menú de navegación -->
        <ul class="flex space-x-4">
          <li><a href="#" class="text-white">Inicio</a></li>
          <!-- <li><a href="#" class="text-white">Productos</a></li> -->
          <li>
            <select class="text-blue-800 rounded bg-blue-100 border-none" name="" id="">
              <option class="rounded bg-blue-200 border-none" value="">Categorías</option>
              <option value="">Official stores</option>

              <option value="">Services</option>
              <option value="">Industries and Offices</option>
              <option value="">Equipment</option>
              <option value="">Health and Medical</option>
              <option value="">vehicles</option>
              <option value="">technology </option>
              <option value="">Babies</option>
              <option value="">Sustainable Products </option>
              <option value="">toys</option>
              <option value="">Properties</option>
              <option value="">Internacional Purchase</option>
              <option value="">Vehicle Accesories</option>
              <option value="">Tools</option>
              <option value="">Games</option>
              <option value="">Fashion</option>
              <option value="">Construction</option>
              <option value="">personal Care</option>
              <option value="">Home & Furniture</option>
              <option value="">Beauty</option>
              <option value="">Sports</option>
              <option value="">appliances  </option>
              <option value="">supermarket</option>
              <option value="">Fitness</option>
            </select>
          </li>
          <!-- <li><a href="#" class="text-white">Categorías</a></li> -->
          <li><a href="#" class="text-white">Iniciar sesión</a></li>
          <li>
            <a href="#" class="bg-black text-white px-4 py-2 rounded-md"
              >Registrarse</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>

